@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.userStatusChecker {

  .errorMessage {
    margin-bottom: 15px;
  }

  .searchBar {
    display: flex;
    align-items: flex-start;

    button {
      margin-left: 10px;
    }
  }

  .userInfos {
    padding: 15px;
  }
}

.overlay {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}